.home {
  .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .content {
    margin-top: 38px;
    width: 100%;
    .navigate {
      margin: 5px 0;
      .column {
        text-align: center;
        margin: 0 auto;
        .icon {
          font-size: 30px;
          color: rgba(255,255,255,1);
          height: 65px;
          line-height: 65px;
          margin: 0 auto;
          border-radius: 50%;
        }
      }
    }
  }
}